.container-sign {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f3f4f6, #e5e7eb);
    /*
    background: linear-gradient(135deg, #6ec1e4, #0052cc);
     */
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-section {
    background: rgba(255, 255, 255, 0.8);
}

.right-section {
    background: linear-gradient(to bottom right, #2c3c8c, #ffffff);
    color: white;
    text-align: center;

}

.form-container-sign {
    background-color: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.form-container-sign:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}


.form-title-sign {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
    text-align: center;
    color: #333;
}

.input-sign {
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 0.8rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
}

.input-sign:focus {
    border-color: #3b82f6;
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}


.btn-sign {
    margin-top: 1.5rem;
    width: 100%;
    position: relative;
    background: transparent;
    border: 3px solid #2c3c8c;
    color: #2c3c8c;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.btn-sign::before {
    content: "";
    position: absolute;
    top: 100%;
    left: -100%;
    width: 300%;
    height: 300%;
    background: linear-gradient(135deg, #2c3c8c, #362c8c);
    transform: rotate(360.5deg);
    transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
    z-index: 0;
}


.btn-sign:hover::before {
    top: 0;
    left: 0;
}


.btn-sign:hover {
    color: white;
    border-color: transparent;
    box-shadow: 3px 4px 15px rgba(44, 60, 140, 0.6);
}


.btn-sign span {
    position: relative;
    z-index: 1;
}


.error-message-sign {
    margin-top: 0.8rem;
    color: red;
    font-size: 12px;
    margin-bottom: 2rem;
    text-align: center;
}

.divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.divider {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.or-text {
    margin: 0;
    font-size: 14px;
    color: gray;
}
