#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scrollbar-width: thin;
  overflow-y: scroll;
  scrollbar-color: #2c3c8c #9198c8;
  scroll-behavior: smooth;
}

body, #root {
  min-height: 100vh;
}
